body {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(45deg, hsl(113, 8%, 93%) 70%, hsl(113, 10%, 71%) 100%);
    font-family: Arial, sans-serif;
    color: hsl(113, 10%, 41%);
}
h3 {
    margin-top: 10px;
}
input {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input::placeholder {
    text-align: center;
}
button {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg, hsl(113, 8%, 93%) 40%, hsl(113, 10%, 71%) 100%);
}
button:hover {
    cursor: pointer;
    background: linear-gradient(45deg, hsl(113, 8%, 73%) 40%, hsl(113, 10%, 51%) 100%);
}
a, a:active {
    text-decoration: none;
    color: hsl(113, 8%, 33%);
}
a:hover {
    text-decoration: none;
    color: hsl(113, 8%, 53%);
}
a img {
    margin: 5px;
    width: 30px;
}
a img:hover {
    scale: 1.2;
}